

<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <div class="input-group">
      {{input value=searchString class="form-control" placeholder="Search Databas" aria-describedby="basic-addon2"}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'search'}}><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
</div>

<!-- filters -->
<div class="row">
  <div class="col-xs-12">
    <h4>Filtrera din sökning</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
    {{bootstrap-multiselect options=mainSubjects id='keyword-selector' selected=selectedKeywords}}

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Ämnesord
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Dropdown link</a></li>
          <li><a href="#">Dropdown link</a></li>
        </ul>
      </div>
      <div class="btn-group" role="group">
        <button type="button" {{bind-attr class=":btn :dropdown-toggle selectedCategory:btn-primary:btn-default"}} data-toggle="dropdown" aria-expanded="false">
          {{#if selectedCategory}}
          {{selectedCategory.category}}
          {{else}}
          Materialtyp
          {{/if}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {{#each category in categories}}
          <li><a href="" {{action 'setCategory' category}}>{{category.category}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /filters -->

<!-- Number of databases -->
<div class="row">
  <div class="col-xs-12 number-showed">
    <div class="text-center">
      <strong>Visar {{model.databases.length}} av {{model.numFound}} databaser</strong>
    </div>
  </div>
</div>
<!-- /number of databases -->

<ul class="list-unstyled">
  {{#each db in model.databases}}
  <li class="database">
    <div class="row">
      <div class="col-xs-12">
        <h2><a href="#">{{db.title}}</a></h2>
      </div>
      <div class="col-sm-6">
        <p>{{db.descriptions.firstObject.description}}
        </p>
        {{#if db.descriptions.firstObject.url}}
        <p>
          <a {{bind-attr href=db.descriptions.firstObject.url}} target="_blank">{{db.descriptions.firstObject.url}}</a>
        </p>
        {{/if}}
      </div>
      <div class="col-sm-6">
        <div class="availability">
          <i class="fa fa-lock"></i> Tillgänglig för Göteborgs universitet
        </div>
        <div class="subects">
          {{#each keyword in db.keywords}}
            {{keyword-item keywordId=keyword keywords=keywords}}
          {{/each}}
        </div>
        <div class="subjects">
        {{#each keyword in db.parentKeywords}}
          {{keyword}}
        {{/each}}
        </div>
      </div></div>
      <div class="row collapse" {{bind-attr id=db.id}}>
        <div class="col-xs-12 col-sm-6 additional-info">
          {{#each desc in db.extraDescriptions}}
          <p>{{desc.description}}
          </p>
          {{#if desc.url}}
          <p>
            <a {{bind-attr href=desc.url}} target="_blank">{{desc.url}}</a>
          </p>
          {{/if}}
          {{/each}}

          <p>
            {{#each at in db.alternate_titles}}
            <strong>Alternativ titel: </strong>{{at}}<br/>
            {{/each}}
            {{#each publisher in db.publishers}}
            <strong>Leverantör: </strong>{{publisher}}<br/>
            {{/each}}
            {{#if db.categories}}
            <strong>Materialtyp: </strong>
            {{#each category in db.categories}}
            {{category-item categoryId=category categories=categories}}
            {{/each}}
            {{/if}}
          </p>
          <p>
            <i class="fa fa-link"></i> {{#link-to 'database' db.libris_id }}Länk till denna post{{/link-to}}
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 additional-info">
          <p><strong>Terms of use:</strong><br/>
            Authorized user Definition: Faculty staff, researchers and students at the University of Gothenburg can use the library card number to get access, to most of the University Library e-resources when off-campus.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 more-info">
          <a data-toggle="collapse" {{bind-attr href=db.objectIdentifier}} aria-expanded="false" {{bind-attr aria-controls=db.id}}>Mer om databasen</a>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>

  {{#if displayExtraRowsButton}}
  <div class="row">
    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <button class="btn btn-default btn-block" {{action 'increaseRows'}}>Visa fler ({{rowsToGo}})</button>
    </div>
  </div>
  {{/if}}
