

<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <div class="input-group">
      {{input value=searchString class="form-control" placeholder="Search Databas" aria-describedby="basic-addon2"}}
      <span id="searchClear">
        <a {{action 'clearSearch'}}><i class="fa fa-times"></i></a>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'search'}}><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
</div>

<!-- Number of databases -->
<div class="row">
  <div class="col-xs-12 number-showed">
    <div class="text-center">
      <strong>Visar {{model.databases.length}} av {{model.response.numFound}} databaser</strong>
    </div>
  </div>
</div>
<!-- /number of databases -->

<!-- filters -->
<div class="row">
  <div class="col-xs-12">
    <h4>{{t 'search.filterTitle'}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">


      <div class="btn-group" role="group">
        <button type="button" {{bind-attr class=":btn :dropdown-toggle selectedParentKeyword:btn-primary:btn-default"}} data-toggle="dropdown" aria-expanded="false">
          {{#if selectedParentKeyword}}
          {{selectedParentKeyword.keyword}}
          {{else}}
          Huvudaemne
          {{/if}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {{#each keyword in parentKeywords}}
          <li><a href="" {{action 'setParentKeyword' keyword}}>{{keyword.keyword}} ({{keyword.facetCount}})</a></li>
          {{/each}}
        </ul>
      </div>
      {{bootstrap-multiselect options=childKeywords id='keyword-selector' selected=selectedKeywords parentKeyword=parentKeyword}}
      <div class="btn-group" role="group">
        <button type="button" {{bind-attr class=":btn :dropdown-toggle selectedCategory:btn-primary:btn-default"}} data-toggle="dropdown" aria-expanded="false">
          {{#if selectedCategory}}
          {{selectedCategory.category}}
          {{else}}
          Materialtyp
          {{/if}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {{#each category in categoriesList}}
          <li><a href="" {{action 'setCategory' category}}>{{category.category}} ({{category.facetCount}})</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /filters -->

<ul class="list-unstyled">
  {{#each db in model.databases}}
  <li class="database">
    <div class="row">
      <div class="col-xs-12">
        <h2><a {{bind-attr href=db.url.url}} target="_blank">{{db.title}}</a></h2>
      </div>
      <div class="col-sm-6">
        <p>{{db.descriptions.firstObject.description}}
        </p>
        {{#if db.descriptions.firstObject.url}}
        <p>
          <a {{bind-attr href=db.descriptions.firstObject.url}} target="_blank">{{db.descriptions.firstObject.url}}</a>
        </p>
        {{/if}}
      </div>
      <div class="col-sm-6">
        <div class="availability">
        {{#if db.isLocked}}
          <i class="fa fa-lock"></i> Tillgänglig för Göteborgs universitet
        {{else}}
          <i class="fa fa-unlock"></i> Fri elektronisk resurs
        {{/if}}
        </div>
        {{#if isSwedish}}
        {{keyword-list keywords=keywords dbKeywords=db.keywords_sv}}
        {{else}}
        {{keyword-list keywords=keywords dbKeywords=db.keywords_en}}
        {{/if}}
      </div></div>
      <div class="row collapse" {{bind-attr id=db.id}}>
        <div class="col-xs-12 col-sm-6 additional-info">
          {{#each desc in db.extraDescriptions}}
          <p>{{desc.description}}
          </p>
          {{#if desc.url}}
          <p>
            <a {{bind-attr href=desc.url}} target="_blank">{{desc.url}}</a>
          </p>
          {{/if}}
          {{/each}}

          <p>
            {{#each at in db.alternate_titles}}
            <strong>Alternativ titel: </strong>{{at}}<br/>
            {{/each}}
            {{#each publisher in db.publishers}}
            <strong>Leverantör: </strong>{{publisher}}<br/>
            {{/each}}
            {{#if isSwedish}}
              {{#if db.categories_sv}}
                <strong>Materialtyp: </strong>
                {{#each category in db.categories_sv}}
                  {{category-item categoryId=category categories=categories}}
                {{/each}}
              {{/if}}
            {{else}}
              {{#if db.categories_en}}
                <strong>Materialtyp: </strong>
                {{#each category in db.categories_en}}
                  {{category-item categoryId=category categories=categories}}
                {{/each}}
              {{/if}}
            {{/if}}
          </p>
          <p>
          {{#if db.extraUrls}}
            {{#each url in db.extraUrls}}
              <strong>Alternativ länk: </strong>
              <a {{bind-attr href=url.url}} target="_blank">{{url.url}}</a><br/>
            {{/each}}
          {{/if}}
          </p>
          <p>
            <i class="fa fa-link"></i> {{#link-to 'database' db.libris_id }}Länk till denna post{{/link-to}}
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 additional-info">
          <p><strong>Terms of use:</strong><br/>
            Authorized user Definition: Faculty staff, researchers and students at the University of Gothenburg can use the library card number to get access, to most of the University Library e-resources when off-campus.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 more-info">
          <a data-toggle="collapse" {{bind-attr href=db.objectIdentifier}} aria-expanded="false" {{bind-attr aria-controls=db.id}}>Mer om databasen</a>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>

  {{#if displayExtraRowsButton}}
  <div class="row">
    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <button class="btn btn-default btn-block" {{action 'increaseRows'}}>Visa fler ({{rowsToGo}})</button>
    </div>
  </div>
  {{/if}}
